<ion-header>
  <ion-toolbar color="light">
    <ion-buttons class="backButton" slot="start">
      <ion-back-button
        color="dark"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding">
    <div class="profilePictureContainer">
      <ion-avatar class="profilePicture">
        <img alt="Silhouette of a person's head" src="/assets/Jimbo.png" />
      </ion-avatar>
    </div>
    <div class="profileDetail">
      <p class="username ion-text-center ion-margin-end">
        {{profileDetails.first_name}} {{profileDetails.last_name}}
      </p>
      <p class="designation ion-text-center ion-text-wrap ion-margin-start">
        Software Engineering
      </p>
    </div>
    <div>
      <p class="ion-text-uppercase profileText">Profile</p>
    </div>
    <div class="span"></div>
    <ion-list lines="none" class="profileNav">
      <form (ngSubmit)="editProfileRequest()" [formGroup]="editProfileForm">
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-label class="profileNavListItem1">First name</ion-label>
          <ion-label
            *ngIf="editProfileStatus === false"
            class="profileNavListItem2 ion-text-wrap"
            >{{profileDetails.first_name}}</ion-label
          >
          <ion-input
            *ngIf="editProfileStatus"
            formControlName="firstName"
            class="profileNavListItem2"
            type="text"
            placeholder="first name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-label class="profileNavListItem1">Second name</ion-label>

          <ion-label
            *ngIf="editProfileStatus === false"
            class="profileNavListItem2 ion-text-wrap"
            >{{profileDetails.last_name}}</ion-label
          >
          <ion-input
            formControlName="lastName"
            *ngIf="editProfileStatus"
            class="profileNavListItem2"
            type="text"
            placeholder="last name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-label class="profileNavListItem1">Email</ion-label>
          <ion-label
            *ngIf="editProfileStatus === false"
            class="profileNavListItem2 ion-text-wrap"
            >{{profileDetails.email}}</ion-label
          >
          <ion-input
            formControlName="email"
            *ngIf="editProfileStatus"
            class="profileNavListItem2"
            type="email"
            placeholder="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait"></ion-icon>
          <ion-label class="profileNavListItem1">Phone number</ion-label>
          <ion-label
            *ngIf="editProfileStatus === false"
            class="profileNavListItem2 ion-text-wrap"
            >{{profileDetails.phone_number}}</ion-label
          >
          <ion-input
            formControlName="phoneNumber"
            *ngIf="editProfileStatus"
            class="profileNavListItem2"
            type="tel"
            placeholder="phone number"
          ></ion-input>
        </ion-item>
        <ion-button
          [disabled]="!editProfileStatus"
          *ngIf="editProfileStatus"
          class="editButton"
          type="submit"
          >Sign Up</ion-button
        >
        <ion-button
          [disabled]="!editProfileStatus"
          *ngIf="editProfileStatus"
          class="deleteButton"
          color="danger"
          (click)="deleteAccount()"
          >Delete Account</ion-button
        >
      </form>
    </ion-list>

    <div class="spanBottom"></div>
    <div class="connectSection">
      <p>Connect your favorite music player</p>
    </div>
    <ion-thumbnail class="musicPlayers">
      <img
        class="musicPlayersImg"
        alt="Silhouette of mountains"
        src="/assets/spotify.png"
      />
    </ion-thumbnail>
    <ion-thumbnail class="musicPlayers">
      <img
        class="musicPlayersImg"
        alt="Silhouette of mountains"
        src="/assets/apple-music.png"
      />
    </ion-thumbnail>
  </ion-content>
</ion-content>
