<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding">
    <div class="profilePictureContainer">
      <ion-avatar class="profilePicture">
        <img alt="Silhouette of a person's head" src="/assets/Jimbo.png" />
      </ion-avatar>
      <ion-icon class="editIcon" name="pencil"></ion-icon>
    </div>
    <div class="profileDetail">
      <p class="username ion-text-center ion-margin-end">Nduka James</p>
      <p class="designation ion-text-center ion-text-wrap ion-margin-start">
        Software Engineering
      </p>
    </div>
    <div>
      <p class="ion-text-uppercase profileText">Profile</p>
    </div>
    <div class="span"></div>
    <ion-list lines="none" class="profileNav">
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-label class="profileNavListItem1">First name</ion-label>
        <ion-label class="profileNavListItem2 ion-text-wrap">James</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-label class="profileNavListItem1">Second name</ion-label>
        <ion-label class="profileNavListItem2 ion-text-wrap">Obi</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label class="profileNavListItem1">Email</ion-label>
        <ion-label class="profileNavListItem2 ion-text-wrap"
          >jamesobi14@gmail.com</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait"></ion-icon>
        <ion-label class="profileNavListItem1">Phone number</ion-label>
        <ion-label class="profileNavListItem2 ion-text-wrap"
          >+2348118236125</ion-label
        >
      </ion-item>
    </ion-list>

    <div class="spanBottom"></div>
    <div class="connectSection">
      <p>Connect your favorite music player</p>
    </div>
    <ion-thumbnail class="musicPlayers">
      <img
        class="musicPlayersImg"
        alt="Silhouette of mountains"
        src="/assets/spotify.png"
      />
    </ion-thumbnail>
    <ion-thumbnail class="musicPlayers">
      <img
        class="musicPlayersImg"
        alt="Silhouette of mountains"
        src="/assets/apple-music.png"
      />
    </ion-thumbnail>
  </ion-content>
</ion-content>
